<template>
  <v-app-bar app>
        <v-toolbar-title class="headline text-uppercase mr-4">
            <span>Stock</span>
            <span class="font-weight-light">Trader</span>
        </v-toolbar-title>
        <v-toolbar-items>
            <v-btn text to="/">Inicio</v-btn>
            <v-btn text to="/portfolio">Portfolio</v-btn>
            <v-btn text to="/stocks">Acoes</v-btn>
        </v-toolbar-items>

        <v-spacer></v-spacer>

        <v-toolbar-items>
            <v-btn text>Finalizar dia</v-btn>
            <template>
                <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn text
                        v-on="on"
                        >
                        Dropdown
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item>
                            <v-list-item-title>Salvar dados</v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title>Carregar dados</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </template>
        </v-toolbar-items>

  </v-app-bar>
</template>

<script>
export default {

}
</script>

<style>

</style>